<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
	<meta name='description' content='WebRTC Video Conference App' />
	<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="module" src='/js/home.js'></script>
	<link rel="stylesheet" type="text/css" href="css/home.css" media="screen" />
	<title>WebRTC Video Conference</title>
</head>

<body>
	<main id="container">
		<section id="success">
			<div class="title">
				<h2>
					Video Conference
				</h2>
			</div>
			<p class="instructor">Enter a room name!</p>
			<div class="room-name-containter">
				<input type="text" id="room-url" class="room-name-input">
				<div class="btn-container">
					<button class="join-btn" id="join-mesh-btn">Join MESH</button>
					<button class="join-btn" id="join-sfu-btn">Join SFU</button>
					<button id="random-btn">Random</button>
				</div>
			</div>
		</section>
	</main>
</body>

</html>